/*
Error: Invalid CSS after "#FFF": expected expression (e.g. 1px, bold), was ";"
        on line 5 of scss/main.scss.css

1: /*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ *\/
2: /*scss *\/
3: 
4: html {
5:     color: #FFF;
6:     font-size: 1em;
7:     line-height: 1.4;
8: }
9: 
10: ::-moz-selection {

Backtrace:
scss/main.scss.css:5
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script/lexer.rb:229:in `expected!'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:744:in `assert_done'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:76:in `parse'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:240:in `parse'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/script.rb:27:in `parse'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:1151:in `parse_script'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:721:in `parse_property'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:692:in `parse_property_or_rule'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:658:in `parse_line'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:536:in `build_tree'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:545:in `block in build_tree'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `each'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `build_tree'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:409:in `_to_tree'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/bin/sass:23:in `load'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/bin/sass:23:in `<main>'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/Users/mikeeng/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#FFF\": expected expression (e.g. 1px, bold), was \";\"\A         on line 5 of scss/main.scss.css\A \A 1: /*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */\A 2: /*scss */\A 3: \A 4: html {\A 5:     color: #FFF;\A 6:     font-size: 1em;\A 7:     line-height: 1.4;\A 8: }\A 9: \A 10: ::-moz-selection {"; }
